# The CODEOWNERS file is used to define the maintainer of a specific file or directory in the code repository.
# Its main purpose is to automatically request designated maintainer to conduct code review in Pull Request (PR),
# in order to clarify code ownership, improve code quality, and accelerate the review process.

# The lines starting with # are comments.
# Each line corresponds to a specified file or directory and maintainer by @ splitting.
# The rules are applied from top to bottom, and the last matching rule will take effect.

# If the file in PR does not match rule, the default maintainer gemini524 will be designated to conduct code review.
* @gemini524

# The maintainers of install.
/install/ @hanshize